# Key Python functions: Missing data and NaNs

In this notebook we gather together and recap the <tt>Pandas</tt> functions we have learned this week:
* Functions for **locating outliers**
* Syntax for replacing missing data with **NaN**

## Set up Python Libraries

As usual you will need to run this code block to import the relevant Python libraries

In [1]:
# Set-up Python libraries - you need to run this but you don't need to change it
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas 
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Import a dataset to work with

You will need to download the file OxfordWeather.csv from Canvas to your computer, then import it

In [2]:
weather = pandas.read_csv("https://raw.githubusercontent.com/jillxoreilly/StatsCourseBook/main/data/OxfordWeather.csv")
display(weather)

       YYYY  MM  DD  Tmax  Tmin  Tmean  Trange  Rainfall_mm
0      1827   1   1   8.3   5.6    7.0     2.7          0.0
1      1827   1   2   2.2   0.0    1.1     2.2          0.0
2      1827   1   3  -2.2  -8.3   -5.3     6.1          9.7
3      1827   1   4  -1.7  -7.8   -4.8     6.1          0.0
4      1827   1   5   0.0 -10.6   -5.3    10.6          0.0
...     ...  ..  ..   ...   ...    ...     ...          ...
71338  2022   4  26  15.2   4.1    9.7    11.1          0.0
71339  2022   4  27  10.7   2.6    6.7     8.1          0.0
71340  2022   4  28  12.7   3.9    8.3     8.8          0.0
71341  2022   4  29  11.7   6.7    9.2     5.0          0.0
71342  2022   4  30  17.6   1.0    9.3    16.6          0.0

[71343 rows x 8 columns]